.closeButton {
    color: #000;
    opacity: 0.4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    text-align: right;
    margin: -20px;
    margin-top: 1px;
    margin-left: auto;
  }

 
  #divCloseButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #divCloseButton span {
    color: black;
    text-align: right;
    opacity: 0.3;
    font-size: 1.2rem;
}
  
  .modal {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;     
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);    
  }
  
  .center {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pokemonsModal {
    width: 100%;
  }
  
  .pokemonOpen {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 0.7em 1.9em 0fr;
    padding: 1.5rem 0rem;
    border-radius: 4rem;
    justify-content: center;
    margin: 3rem;
    border: 3px solid rgba(249, 244, 189, 0.739);
  }
  
  .typesContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .types {
    display: block;
    text-transform: capitalize;
  }
  
  .nameOpen {
    color: #fff;
    margin: -0.5rem 0;
    text-transform: capitalize;
    font-size: 1.8em;
    text-align: left;
  }
  
  .divSkills {
    display: flex;
  }
  
  .numberModal {
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.2em;
  }
  
  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: #fff;
  }
  
  .skillOpen {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.01rem;
    font-size: 0.7rem;
    border-radius: 1rem;
    justify-content: center;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
  }
  
  .typesOpen {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .openType {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.7rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
  }
  
  .pokemonImageOpenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pokemonImage {
    max-width: 100%;
    height: 150px;
  }
  
  .attributesContainer {
    display: flex;
    flex-direction: column;
    text-align: center;

  }
  
  .attributesDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #000;
    opacity: 0.75;
  }
  
  .innerAttribute {
    gap: 0.5em;
  }

  .attributesHeader {
    color: #fff;
  }
 
  @media screen and (min-width: 400px) {
    .pokemonsModal {
      width: 98%;
    }
  }

  @media screen and (min-width: 440px) {
    .pokemonsModal {
      width: 85%;
    }
  }
  
  @media screen and (min-width: 517px) {
    .pokemonsModal {
      width: 85%;
    }
  }
  
  @media screen and (min-width: 557px) {
    .pokemonsModal {
      width: 75%;
    }
  }
  
  @media screen and (min-width: 606px) {
    .pokemonsModal {
      width: 70%;
    }
  }
  
  @media screen and (min-width: 657px) {
    .pokemonsModal {
      width: 65%;
    }
  }
  
  @media screen and (min-width: 725px) {
    .pokemonsModal {
        height: 700px;
        width: 400px;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 10%);
    }
  }